* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3767ae;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    height: 500px;
    width: 500px;
    background-color: #a35555;

}

.box {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}